/*hidden elements on laptop screen*/
@media only screen and (min-width:1024px){
#icon_wrapper{
	display:none; !important;
}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 0px) and (max-width : 767px) {

	/*****************************************************************************/
	/*
	/* Common
	/*
	/*****************************************************************************/

	.centralized {
		width: 100%;	
	}

	/* Section - Welcome */

	h1 {
		font-size: 40px;
		padding: 0 20px;
	}

	/* City */
	#the_city {
		height: 303px;
		max-width: 310px;
	}

	#the_city img {
		display: none;
	}

	#the_city img#ground {
	  max-width: 310px;
	  display: block;
	}

	#the_city img#img1, #the_city img#img2, 
	#the_city img#img3, #the_city img#img5, 
	#the_city img#img7, #the_city img#img16, 
	#the_city img#img15, #the_city img#img14, #the_city img#img13, #the_city img#img6 {
		display: block;
	}

	/* first line */
	#first_line #line {
	  margin: 30px auto;
	  left: inherit !important;
	  display: block;
	  width: 111px;
	}

	/* Section - About */
	
	#about h2 {
		font-size: 40px;
	}

	#about .info {
	  width: auto ;
	  float: inherit ;
	  top: inherit;
	  #margin-top: 40px;
	  padding: 0 30px;
	  text-align: center;
	}

	/* Second line */

	#second_line #line_two {
	  #width: 85px;
	  display:none;
	}

	/* Section - Services */
	#services h2 {
	  text-align: center;
	  right: inherit;
	  margin: 50px 0 40px;
	  font-size: 40px;
	}

	#services #marketing_dzial img, #services #marketing img, #services #branding img {
	  margin: 0 auto;
	  float: inherit;
	  #padding: 80px 0 0 0;
	}

	#services #web_dev img {
		max-width: 265px;
		margin: 0 auto;
		float: inherit;
		right: 0px;
	}

	#services #marketing_dzial .info, #services #marketing .info, #services #branding .info, #services #web_dev .info {
	  float: inherit;
	  margin: 40px 0px 0px 0px;
	  width: auto;
	  padding: 0 30px;
	  text-align: center;
	}

	#services #web_dev .expertise {
		text-align: center;
		margin-bottom: 20px;
	}

	#services #web_dev .expertise img {
		float: none;
		margin: 0 20px;
		display: inline-block;
	}

	/* Third line */

	#third_line #line_three {
	  display: none;
	}

	#services #biznes .info {
	  float: inherit;
	  max-width: 670px;
	  text-align: left;
	  margin: 40px 0 0 0;
	  padding: 0 30px;
	  text-align: center;
	}

	#services #biznes img {
	  
	  width: 270px;
	  margin: 0 auto;
	  float: inherit;
	}

	/* Fourth line */

	#fourth_line #line_four {
	  display: none;
	}

	#services #account_manage img {
	  width: 265px;
	  margin: 60px auto 40px;
	  float: inherit;
	}

	#services #account_manage .info {
	  float: inherit;
	  max-width: 680px;
	  margin-left: 0px;
	  padding: 0 30px;
	  text-align: center;
	}
	/*Fifth line*/
	#fifth_line{
	  display:none;
	}
	/*Section Team*/
	#team {
		text-align: center;
	}

	#team h3 {
		margin-top: 10px;
	}

	#team .info{
		margin-top:40px;
		padding: 0 20px;
	}
	#team .team_member{
		width: 55%;
		max-height:280px;
		margin: 0 15px;
		float: inherit;
		display: inline-block;
		vertical-align: top;
	}

	/* Section Blog */

	#blog {
		margin-top: -260px;
	}
	
	/*Section Clients*/
	#clients .logo_clients {
		margin-top: 80px;
	}
	#clients .logo_clients a {
		display: inline-block;
		margin: 0 20px;
	}
	#clients .logo_clients a:nth-child(3) {
		margin: 20px 12px;
	}
	#clients .logo_clients img {
		margin: 0px !important;
	}

	/* Section - Ready */

	#ready h2 {
	  margin-bottom: 20px;
	  font-size: 39px;
	  padding: 0 30px;
	}

	#ready #ready_info {
		padding-bottom: 50px;
	}

	#ready #icon_wrapper {
		margin-bottom: 40px;
	}
	
	
	
	/*Six line*/
	#six_line {
		display:none;
	}
	/*Footer*/
	#bilbord{
		display:none;
	}
}

/* Tablets (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1023px) {

	/*****************************************************************************/
	/*
	/* Common
	/*
	/*****************************************************************************/

	.centralized {
		width: 710px;
	}

	h1 {
		padding: 0 20px;
	}

	/* City */
	#the_city, #the_city img#ground {
	  max-width: 710px;
	}
	#first_line #line {
	  margin: 30px auto;
	 
	}

	/* Section - About */
	#first_line #line {
	  margin: 30px auto;
	  left: inherit !important;
	  display: block;
	  
	}


	#about .info {
		width: 600px;
		top: 0px;
		margin: 0 auto;
		text-align: center;
		float: inherit;
	}

	/* Second line */

	#second_line #line_two {
	  margin-top: 20px;
	}

	/* Section - Services */

	#services #branding .info {
		max-width: 460px;
	}

	#services #branding img {
		width: 200px;
		top: 40px;
		position: relative;
	}

	#services #web_dev .info {
		max-width: 390px;
		margin-left: 0px;
	}

	#services #web_dev > img {
		width: 315px;
		position: relative;
		top: 20px;
	}

	#services #marketing .info {
		max-width: 500px;
	}

	#services #marketing_dzial img {
		margin-top:30px;
		width: 140px;
	}

	#services #marketing_dzial .info {
	  float: left;
	  margin: 39px 0px 0px 50px;
	  max-width: 420px;
	}

	/* Third line */

	#third_line #line_three {
	  max-width: 548px;
	  float: inherit;
	  left: inherit;
	  display: block;
	  margin: 20px auto;
	}

	#services #biznes img {
		width: 240px;
		margin-top:40px;
	}

	#services #biznes .info {
		max-width: 420px;
	}

	/* Fourth line */

	#fourth_line #line_four {
	  max-width: 548px;
	  float: inherit;
	  left: inherit;
	  display: block;
	  margin: 20px auto;
	}

	#services #account_manage .info {
	  max-width: 400px;
	}
	#team .team_member{
	width:20%;
	max-height:280px;
	margin:0 auto;
	}
	
	
	#bilbord{
		display:none;
	}
	
	
}
































