@import url("fonts/sketch/stylesheet.css");

/*****************************************************************************/
/*
/* CSS Reset
/*
/*****************************************************************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Georgia', 'Times New Roman', serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

#wrapper {
  width: 100%;
  height: 100%;
}

.centralized {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

}

section {
  overflow: hidden;
  position: relative;

}

/* Button */
.btn {
  padding: 10px;
  text-decoration: none;
  position: relative;
  border: 1px solid;
  border-radius: 3px;
}

.yellow {
  color: #fcbf0a;
  border-color: #fcbf0a;
}

/* Typography */
p {
  font-size: 1rem;
  line-height: 1.5em;
  color: #7C8B98;
  font-family: "Georgia", "Times New Roman", serif;
}

/*
a {
  color: #6b92bf;
}
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3d454c;
  font-family: "sketch_me_free-versionregular";
  text-rendering: geometricPrecision;
}

h2 {
  font-size: 50px;
  text-transform: uppercase;
  line-height: 1.3em;
}

h3 {
  font-size: 2.2rem;
  line-height: 1.2em;
}

/* Header */
header {
  text-align: center;
  padding: 20px 0;
}

header #logo {
  width: 180px;

}

/* Section - Welcome */

h1 {
  text-align: center;
  font-size: 60px;
  text-transform: uppercase;
  line-height: 1.3em;
}

/* City */
#the_city {
  max-width: 800px;
  height: 483px;
  margin: 20px auto 0;
  display: block;
  position: relative;

}

#the_city .example {
  position: relative;
  opacity: 1;
  width: 800px;
  display: none;
}

#the_city img {

  position: absolute;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);

  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  transform-origin: 50% 100%;

  -webkit-transition: all 0.3s cubic-bezier(1, 1.4, 0, 1.2);
}

#the_city img.animated {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

#the_city img#ground {
  max-width: 800px;
  z-index: 1;
  bottom: 0px;
}

#the_city img#cloud {
  width: 620px;
  z-index: 34;
  top: 30px;
  left: 100px;
}

/*#the_city img#cloud1 {
  width: 190px;
  z-index: 34;
  top: 0px;
  left: 200;
  -webkit-transition: none !important;
}

#the_city img#cloud2 {
  width: 160px;
  z-index: 34;
  top: 0px;
  left: 300px;
  -webkit-transition: none !important;
}

#the_city img#cloud3 {
  width: 170px;
  z-index: 34;
  top: 0px;
  right: 300;
  -webkit-transition: none !important;
} */

#the_city img#img1 {
  width: 44px;
  bottom: 21px;
  left: 216px;
  z-index: 35;
}

#the_city img#img2 {
  width: 81px;
  bottom: 17px;
  left: 152px;
  z-index: 34;
}

#the_city img#img3 {
  width: 93px;
  bottom: 26px;
  left: 208px;
  z-index: 33;
}

#the_city img#img4 {
  width: 41px;
  bottom: 27px;
  left: 380px;
  z-index: 33;
}

#the_city img#img5 {
  width: 60px;
  bottom: 30px;
  left: 96px;
  z-index: 33;
}

#the_city img#img6 {
  width: 30px;
  bottom: 30px;
  left: 62px;
  z-index: 33;
}

#the_city img#img7 {
  width: 97px;
  bottom: 28px;
  left: 17px;
  z-index: 32;
}

#the_city img#img8 {
  width: 30px;
  bottom: 30px;
  left: 62px;
  z-index: 33;
}

#the_city img#img9 {
  width: 144px;
  bottom: 34px;
  left: 284px;
  z-index: 33;
}

#the_city img#img10 {
  width: 91px;
  bottom: 50px;
  left: 410px;
  z-index: 34;
}

#the_city img#img11 {
  width: 100px;
  bottom: 98px;
  left: 274px;
  z-index: 32;
}

#the_city img#img12 {
  width: 145px;
  bottom: 94px;
  left: 314px;
  z-index: 31;
}

#the_city img#img13 {
  width: 92px;
  bottom: 56px;
  left: 38px;
  z-index: 30;
}

#the_city img#img14 {
  width: 164px;
  bottom: 69px;
  left: 78px;
  z-index: 29;
}

#the_city img#img15 {
  width: 88px;
  bottom: 121px;
  left: 60px;
  z-index: 28;
}

#the_city img#img16 {
  width: 110px;
  bottom: 88px;
  left: 169px;
  z-index: 27;
}

#the_city img#img17 {
  width: 104px;
  bottom: 100px;
  left: 90px;
  z-index: 26;
}

#the_city img#img18 {
  width: 119px;
  bottom: 114px;
  left: 215px;
  z-index: 25;
}

#the_city img#img19 {
  width: 105px;
  bottom: 184px;
  left: 312px;
  z-index: 24;
}

#the_city img#img20 {
  width: 127px;
  bottom: 33px;
  right: 139px;
  z-index: 23;
}

#the_city img#img21 {
  width: 43px;
  bottom: 26px;
  right: 74px;
  z-index: 22;
}

#the_city img#img22 {
  width: 131px;
  bottom: 33px;
  right: 36px;
  z-index: 21;
}

#the_city img#img23 {
  width: 266px;
  bottom: 94px;
  right: 20px;
  z-index: 20;
}

#the_city img#img24 {
  width: 74px;
  bottom: 306px;
  right: 99px;
  z-index: 19;
}

#the_city img#img25 {
  width: 109px;
  bottom: 105px;
  right: 265px;
  z-index: 18;
}

#the_city img#img26 {
  width: 109px;
  bottom: 231px;
  right: 189px;
  z-index: 17;
}

#the_city img#img27 {
  width: 107px;
  bottom: 191px;
  right: 316px;
  z-index: 16;
}

#the_city img#img28 {
  width: 15px;
  bottom: 136px;
  right: 291px;
  z-index: 33;
}

#the_city img#img29 {
  width: 0px;
  bottom: 187px;
  right: 257px;
  z-index: 33;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

#the_city img#img29.animated {
  width: 96px;
}

#the_city img#img30 {
  width: 12px;
  bottom: 259px;
  left: 206px;
  z-index: 33;
}

#the_city img#img31 {
  width: 46px;
  bottom: 287px;
  left: 344px;
  z-index: 33;
}

#the_city img#img32 {
  width: 19px;
  bottom: 248px;
  left: 420px;
  z-index: 33;
}

#the_city img#img33 {
  width: 26px;
  bottom: 292px;
  left: 520px;
  z-index: 33;
}

#the_city img#img34 {
  width: 0px;
  bottom: 298px;
  right: 242px;
  z-index: 19;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

#the_city img#img34.animated {
  width: 377px;
}


/* first line */
#first_line #line {
  position: relative;
  width: 211px;
  text-align: left;
  left: 420px;
  margin: 30px 0;

}

.path {
  -webkit-stroke-dasharray: 6.0123;
  -webkit-stroke-dashoffset: 100;
  -webkit-animation: dash 5s linear alternate infinite;

}

/* Section - About */

#about .info {
  width: 1000px;
  position: relative;
  text-align: center;
}


#about h2 {
  text-align: center;
  margin-bottom: 35px;
}

#about p {
  margin-top: 25px;
  font-family: "Georgia", "Times New Roman";
  color: #3D454C;
  font-size: 19px;
}

/* Second line */

#second_line #line_two {
  position: relative;
  width: 145px;
  float: right;
  right: 40px;
  margin-top: 15px;

}

/* Section - Services */
#services h2 {
  text-align: right;
  position: relative;
  right: 150px;
  margin: 30px 0 10px;
}

#services .tagline {
  display: block;
  padding: 5px 0 20px;
  font-family: "Georgia", "Times New Roman";
  font-size: 19px;
  color: #3D454C;
  line-height: 1.4em;
}

#services #branding img {
  width: 250px;
  float: left;
  display: block;
}

#services #branding .info {
  float: right;
  margin: 30px 0px 10px 50px;
  width: 700px;
}


#services #marketing .info {
  float: right;
  margin: 30px 0px 10px 50px;
  width: 760px;
}

#services #marketing img {
  width: 160px;
  display: block;
  float: left;
}

/* Third line */

#third_line #line_three {
  position: relative;
  max-width: 500px;
  float: left;
  left: 130px;
}

#services #biznes .info {
  float: right;
  max-width: 670px;
  text-align: right;
  margin: 40px 40px 0 0;

}

#services #biznes img {
  width: 270px;
  display: block;
  float: right;
}

/* Fourth line */

#fourth_line #line_four {
  position: relative;
  max-width: 500px;
  float: left;
  left: 130px;

}

#services #account_manage img {
  width: 265px;
  display: block;
  float: left;
}

#services #account_manage .info {
  float: left;
  max-width: 680px;
  margin-left: 40px;
}

/* Web Dev */

#services #web_dev {
  margin-top: 50px;
}

#services #web_dev>img {
  width: 355px;
  display: block;
  float: right;
  right: -14px;
  position: relative;
}

#services #web_dev .info {
  float: right;
  text-align: right;
  max-width: 580px;
  margin-left: 40px;
}

#services #web_dev .expertise {
  margin: 30px 0;
}

#services #web_dev .expertise img {
  width: 40px;
  float: left;
  margin: 0 30px 0 0;
  position: relative;
}

#services #web_dev .expertise img:first-child {
  padding-top: 8px;
}

#services #web_dev .expertise img:last-child {
  padding-top: 12px;
}

/* Fifth line */

#fifth_line #line_five {
  position: relative;
  float: left;
  max-width: 300px;
  left: 125px;
}

/* Section Team*/


#team {
  text-align: center;
  position: relative;
  z-index: 2;
}

#team .info {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#team .info p {
  padding: 15px;
  font-family: "Georgia", "Times New Roman";
  color: #3D454C;
  font-size: 19px;
}

#team .team_member {
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;

  text-align: center;
  width: 15%;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: transparent;
}

#team .team_member p {
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  font-size: 14px;
}

#team .team_photo {
  width: 100%;
  height: auto;
}

#team .team_member:hover {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.7);
  background: #fcbf0a;
}

#team .team_member:hover p {
  color: white;
}

#team .team_member .portfolio {
  -webkit-transition: all 500ms cubic-bezier(0.680, 0, 0.265, 1);
  /* older webkit */
  -webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -moz-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -o-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  /* easeInOutBack */

  -webkit-transition-timing-function: cubic-bezier(0.680, 0, 0.265, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -moz-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
  -o-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
  /* easeInOutBack */

  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  transform: scale(0.7);

  color: white;
  width: 100%;
  height: 100%;
  left: 0px;
  position: absolute;
  opacity: 0;
}

#team .team_member:hover .portfolio {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

#team .team_member .portfolio img {
  width: 40px;
  position: relative;
  top: 55px;
}


/*Six line*/
#six_line #line_six {
  position: relative;
  float: right;
  right: 150px;
  margin-top: 25px;
}

/* Section - Blog */
#blog {
  background: url("../images/blog_bg.jpg") center top no-repeat;
  margin-top: -340px;
  padding-bottom: 100px;
  z-index: 1;
}

#blog h2 {
  text-align: center;
  margin-top: 280px;
}

#blog span {
  text-align: center;
  display: block;
  font-size: 19px;
  color: #3D454C;
}

#blog .last_blog_post {
  margin-top: 220px;
  margin-bottom: 50px;
}

#blog article {
  max-width: 700px;
  margin: -50px auto 0;
  text-align: center;
}

#blog article .avatar_holder {
  width: 50px;
  height: 50px;
  border: 8px solid white;
  border-radius: 50%;
  background: #ddd;
  margin: 0 auto 20px;
  background-image: url(http://0.gravatar.com/avatar/040b25517ca3d27c03e2cda049792de3?s=120&d=mm&r=g);
  background-size: cover;
  background-position: center center;
}

#blog article h3 a {
  font-size: 50px;
  font-family: "sketch_me_free-versionregular";
  text-decoration: none;
  color: #333;
}

#blog h3:hover a {
  color: #fcbf0a;
}

#blog article h3 p {
  line-height: 1.5em;
  font-size: 17px;
  color: #333;
}

#blog .btn {
  display: block;
  width: 140px;
  margin: 0 auto;
  text-align: center;
}

/* Section - Clients */
#clients {
  position: relative;
  margin-top: 25px;
  text-align: center;
  background: url("../images/clients.jpg") center bottom no-repeat;
  min-height: 430px;
}

#clients h2 {
  color: #fcbf0a;
}

#clients .logo_clients {
  margin-top: 130px;
  vertical-align: middle;
}

#clients .logo_clients img {
  height: auto;
  margin-top: 20px;
  margin: 10px;

}

#clients .logo_clients a:first-child img {
  width: 130px;
  margin-right: 50px;
}

#clients .logo_clients a:nth-child(1) img {
  /* display: none; */
}

#clients .logo_clients a:nth-child(2) img {
  width: 90px;
}

#clients .logo_clients a:nth-child(3) img {
  margin-left: 70px;
  width: 150px;
}

#clients .logo_clients a:nth-child(4) img {
  width: 65px;
  margin-left: 60px;
}

/* Section - Ready */

#ready #ready_info {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 110px;
  margin-top: 30px;
}

#ready #ready_info h2 {
  margin-bottom: 30px;
}

#ready #marci_email {
  text-decoration: underline;
  color: #fcbf0a;
  font-size: 14px;
}

#ready #marci_email:hover {
  text-decoration: none;
}

#ready #icon_wrapper {

  text-align: center;
  margin-top: 10px;
}

#ready #icon_wrapper a {

  text-decoration: none;
  opacity: 0.8;
  color: #6b92bf;
  margin: 3px;
}

#ready #icon_wrapper #twitter:hover {
  color: #3095d3;
}

#ready #icon_wrapper #instagram:hover {
  color: #125688;
}

#ready #icon_wrapper #gplus:hover {
  color: #d95333;
}

#ready #icon_wrapper #linkedin:hover {
  color: #005d8e;
}

#ready #icon_wrapper #facebook:hover {
  color: #4668b3;
}

#ready #icon_wrapper #pinterest:hover {
  color: #d72f36;

}

#ready #icon_wrapper #behance:hover {
  color: #131418;
}

/* Footer*/
footer {
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;

}

#bilbords_city {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

#bilbord {
  position: relative;
}

.sm_icons {
  display: inline-block;
  position: relative;

}

#icontw {
  top: 35px;
  right: 227px;
}

#iconinst {
  right: 128px;
  top: 65px;
}

#icong {
  right: 75px;
  top: 60px;
}

#iconlink {
  top: 65px;
}

#iconfb {
  left: 42px;
  top: 65px;
}

#iconpint {
  left: 98px;
  top: 55px;
}

#iconbeh {
  left: 180px;
  top: 50px;
}

#city_base {
  width: 1200px;
  top: -20px;

}

footer span {
  font-size: 11px;
  color: #888989;
  display: block;
  text-align: center;
  margin-bottom: 7px;
}